@{
    ViewData["Title"] = "Privacy Policy";
}
<br /><br /><br /><br />
<h1 style="margin-left:30px;" class="display-4 title">@ViewData["Title"]</h1><div class="text-center"><img src="https://images.wisegeek.com/small-lock.jpg" width="190" height="140" alt="Alternate Text" /></div>
<br /><br />
      <div class="container text-center">
          Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque
          euismod, iaculis eu lacus nunc mi elit,
          vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
          Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque
          euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit
          amet justo nunc tempor, metus vel.
          <br /><br />
          Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque
          euismod, iaculis eu lacus nunc mi elit,
          vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
          Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque
          euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit
          amet justo nunc tempor, metus vel.
          <br /><br />
          Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque
          euismod, iaculis eu lacus nunc mi elit,
          vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
          Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque
          euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit
          amet justo nunc tempor, metus vel.
      </div>
<br /><br /><br /><br /><br /><br />
<hr />